.main-btn {
    width: 230px;
    height: 56px;
    background-color: #FA9F42;
    border-radius: 0px 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
    cursor: pointer;
    transition: all .3s ease;
}

.main-btn:hover {
    background-color: #f78b1f;
}